{% extends 'analysis/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="auth-box">
  <h1>Log In</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label>{{ field.label }}</label>
        {{ field }}
        {{ field.errors }}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary" style="width:100%;">Log In</button>
  </form>
  <p style="text-align:center; margin-top:16px; color:var(--text-dim);">
    No account? <a href="{% url 'signup' %}">Sign up</a>
  </p>
</div>
{% endblock %}
